.navbar{
background-color: #272727!important;
}

.menu{
    background-color: #272727!important; 
}

a.nav-link{
    font-size: 10pt;
}

#bag{
background-color: #ff5754!important;
}

.foto-mulher{
    position: relative;
    transform: translateX(-20%);
}

.teste{
    background-color: #ff5754!important;
}