.navbar{
background-color: #272727!important;
}

.menu{
    background-color: #272727!important; 
}

a.nav-link{
    font-size: 8.6pt;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

.imagens{
    margin-top: 100px;
}

.bodyDesktop{
    margin-bottom: 80px;
}

#maisVendidos{
    color: #747474;
    font-size: 18pt;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
}

#produto-nome{
    font-size: 9pt;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
}

#promo{
    text-decoration: line-through;
    margin-top: -10px;
}

#produto-preco{
    font-size: 10pt;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    margin-top: -10px;
}

#produto-parcelamento{
    font-size: 9pt;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
}

.li>a{
    display: inline-block;
}

.nav-item::after{
    content: '';
    display: block;
    margin-top: 20px;
    margin-bottom: -30px;
    width: 0;
    height: 5px;
    color: #ff5754!important;
    background:  #ff5754!important;
    transition: width .3s;
}

.nav-item:hover::after{
    width: 100%;
    transition: width .3s;
}

#fotomulherMobile{
position: relative;
}

#dropdown-menu-desktop{
    margin-top: 30px!important;
}

.menu{
    /*position: relative;*/
}

#esconder{
    display: none!important;
}

#dropdown-menu-desktop>.dropdown-item{
    background-color: rgba(254, 255, 255, 0.856);
}

.dropdown:hover>.dropdown-menu{
display: block;
background: rgba(254, 255, 255, 0.856);
}


#newsletter{
    color: #747474;
    font-size: 10pt;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}

#itens-list{
    font-size: 9.5pt;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}

#exampleInputEmail1{
max-height: 50px;
}

#button-addon2{
    max-height: 50px;
}

#title{
    color: #747474;
    font-size: 11pt;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
}

#copyright{
    color: #747474;
    font-size: 9pt;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
}

#bag{
background-color: #ff5754!important;
}

.teste{
    background-color: #ff5754!important;
}

#btn{
    outline-color: white;
}

#regua{
    margin-top: 30px;
    transform: scale(1.06);
    position: relative;
}

#regua2{
    margin-top: 15px;
    transform: scale(1.06);
}

#icon-social{
max-width: 32px;
max-height: 32px;
}

#icon-contact{
    max-width: 24px;
    max-height: 24px;
}

#menu-itens{
    color: black;
    font-size: 10pt;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
}

#assinatura{
    max-width: 123px;
    max-height: 24px;
}

#footer-icons{
    max-width: 185px;
    max-height: 66px;
}

#tray{
    background: #ccc;
    color: #666 !important;
    display: inline-block;
    font: 400 9px/20px Verdana, sans-serif !important;
    margin: auto;
    padding: 0 10px;
    text-align: center;
    text-transform: uppercase;
}

#bandeiras{
    max-width: 367px;
    max-height: 77px;
}

#btn-comprar{
    font-size: 11pt;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    background-color: #86c100;
    width: 166px;
    height: 50px;
    border: none;
    margin-right: 10px;
    margin-left: 25px;
}

#btn-finalizar{
    font-size: 10pt;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    background-color: #86c100;
    width: 166px;
    height: 50px;
    border: none;
    margin-right: 10px;
}

#btn-continuar{
    font-size: 9pt;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    background-color: #636363;
    width: 166px;
    height: 50px;
    border: none;
    margin-right: 10px;
}

#btn-voltar{
    font-size: 9pt;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    background-color: #636363;
    width: 166px;
    height: 50px;
    border: none;
}

#btn-login{
    font-size: 9pt;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    background-color: #636363;
    width: 166px;
    height: 40px;
    border: none;
    margin-right: 10px;
}

#btn-cadastrar{
    font-size: 9pt;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    background-color: #636363;
    width: 166px;
    height: 40px;
    border: none;
    margin-right: 10px;
}

#btn-enviar{
    font-size: 9pt;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    background-color: #636363;
    width: 96px;
    height: 40px;
    border: none;
    margin-right: 10px;
}

#btn-voltar2{
    font-size: 9pt;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    background-color: #636363;
    width: 96px;
    height: 40px;
    border: none;
    margin-right: 10px;
}

#btn-calcular{
    font-size: 9pt;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    background-color: #636363;
    width: 96px;
    height: 30px;
    border: none;
    margin-top: 15px;
}

#mobile{
    max-width: auto;
}


#rodapeDesktop{
    margin-top: 20px;
    margin-bottom: 20px;
}

.navList{
    list-style-type: none;
    color: #747474;
}

.carousel {
    /*width: 1140px;*/
}

/*#produto-carousel{
    margin-right: 90px;
}*/

.card{
border: none!important;
max-width: 270px!important;
}

#ajustar{
    margin-right: 50%!important;
    margin-left: 50%!important;
}

#banner{
    margin-top: 64px!important;
    transform: scale(1.265);
    max-width: 1190px;
    max-height: 600px;
}

#reguaMobile{
margin-top: -20px;
}
@media (min-width: 992px){
.navbar-expand-lg .navbar-collapse {
    margin-left: 40px;
 }
}
@media (min-width: 1440px) {
    #banner{
        max-width: 1190px!important;
        max-height: 600px!important;
        margin-top: 94px!important;
        transform: scale(1.392)!important;
    }
}
@media (max-width: 576px) { 
    #banner{
        display: none!important;
    }
}
@media (max-width: 576px) { 
    .nav-item::after{
        display: none!important;
    }
}
@media (min-width: 768px) {
    #teste2{
        display: none!important;
    }
}
@media (min-width: 768px) {
    #mobile{
        display: none!important;
    }
}
@media (max-width: 576px) { 
    #retirar{
        display: none!important;
    }
}
@media (max-width: 576px) { 
    #regua{
        margin-top: 1px;
    }
}
@media (max-width: 576px) { 
    #porDentro{
        align-content: center!important;
        /*align-items: center!important;*/
    }
}





<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
<link rel="stylesheet" type="text/css" href="https://mreq.github.io/slick-lightbox/dist/slick-lightbox.css">


.instagram-slider2 {
  padding: 0 20px;
  margin: 0 30px;
}

.instagram-slider2 .single {
  width: 150px;
  height: 150px;
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: 2px solid #fff;
}

.instagram-slider2 .single img {
  width: 150px;
}

.slick-prev:before,
.slick-next:before {
  color: black;
  content: '>';
}

.slick-arrow {
  background-color: transparent;
  color: transparent;
  font-size: 0;
  line-height: 0;
  position: absolute;
  display: block;
  top: 50%;
  margin-top: -25px;
  border: none;
  outline: 0;
  cursor: pointer;
  width: 55px;
  height: 55px;
  padding: 0;
  z-index: 5;
  border-top: 3px solid #fefe15;
  border-right: 3px solid #fefe15;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}

.slick-arrow:hover {
  opacity: .5
}

.slick-prev{
    content: '<';
  }

.slick-next{
    content: '>';
  }
