.navbar{
background-color: #272727!important;
}

.menu{
    background-color: #272727!important; 
}

a.nav-link{
    font-size: 10pt;
}

.imagens{
    margin-top: 100px;
}

#maisVendidos{
    color: #747474;
    font-size: 18pt;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
}

#bag{
background-color: #ff5754!important;
}

.teste{
    background-color: #ff5754!important;
}

#btn{
    outline-color: white;
}

#regua{
    margin-top: -70px;
}

#promo{
    text-decoration: line-through;
}
@media (min-width: 768px) {
    #teste2{
        display: none!important;
    }
    };

    
@media (max-width: 576px) { 
    #retirar{
        display: none!important;
    }
    };